.job-route-container {
  flex-grow: 1;
  padding: 35px 45px;
  background-color: #000;
  display: flex;
  margin-top: 105px;
}

@media screen and (max-width: 767px) {
  .job-route-container {
    padding: 25px;
    flex-direction: column;
  }
}

.profile-filter-group-container {
  margin-right: 25px;
}

@media screen and (max-width: 767px) {
  .profile-filter-group-container {
    margin-right: 0;
  }
}

.search-job-items-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.searchbar-container {
  display: flex;
  align-items: center;
  max-width: 650px;
  border: 1px solid #475569;
  overflow: hidden;
  border-radius: 4px;
}

.searchbar-container input {
  padding: 10px;
  flex-grow: 1;
  border: none;
  background-color: transparent;
  outline: none;
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.search-icon-container {
  width: 43px;
  height: 43px;
  position: relative;
  background-color: #202020;
}

.search-icon-container button {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.search-icon {
  color: #f1f5f9;
  width: 15px;
  height: 15px;
}

.jobs-list-items-container {
  padding-left: 0;
  list-style: none;
}

.separator {
  border: 1px solid #7e858e;
  margin-top: 15px;
  margin-bottom: 15px;
}

.loader-container {
  align-self: center;
  margin: auto;
}

.jobs-failure-view-container {
  align-self: center;
  text-align: center;
  color: #f1f5f9;
  margin: auto 0;
}

.jobs-failure-view-container img {
  width: 100%;
  max-width: 380px;
}

.jobs-failure-view-container h1 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 600;
}

.jobs-failure-view-container p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #7e858e;
}

.retry-button {
  padding: 12px 24px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #4f46e5;
  border-radius: 8px;
  cursor: pointer;
}