.job-item-details-container {
  flex-grow: 1;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  padding: 45px 35px;
}

@media screen and (max-width: 767px) {
  .job-item-details-container {
    padding: 25px !important;
  }
}

.job-details-succes-view {
  align-self: center;
  width: 80%;
  max-width: 1100px;
}

.job-details-card {
  padding: 35px 25px;
  border-radius: 12px;
  background-color: #272727;
  color: #f1f5f9;
}

@media screen and (max-width: 767px) {
  .job-details-succes-view {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .job-item-details-container {
    padding: 35px 15px;
  }

  .job-details-card {
    width: 100%;
    padding: 15px;
  }
}

.job-item-header {
  display: flex;
  align-items: center;
}

.company-logo-image {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.job-name-rating-container {
  flex-grow: 1;
}

.job-title {
  margin: 0;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.star-rating-container {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  color: #fbbf24;
}

.rating-text {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.job-item-info-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.job-item-info-container p {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  color: #cbd5e1;
}

.job-item-info-container .salary {
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  color: #f1f5f9;
}

.location-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.job-icon {
  height: 20px;
  width: 20px;
  margin-left: 30px;
  margin-right: 15px;
}

.separator {
  border: 1px solid #7e858e;
  margin-top: 15px;
}

.job-description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-item-details-subheading {
  margin-bottom: 15px;
  font-family: Roboto;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .job-item-details-subheading {
    font-size: 24px;
  }
}

.job-description-header a {
  text-decoration: none;
  color: #6366f1;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.visit-icon {
  height: 22px;
  width: 22px;
  margin-left: 8px;
}

.similar-jobs-heading {
  color: #f1f5f9;
}

.similar-jobs-container {
  padding-left: 0;
  display: flex;
  border-radius: 12px;
  flex-wrap: wrap;
}

.skills-list-container {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.skills-list-container li {
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 280px;
}

.skills-list-container li p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #f1f5f9;
}

.skill-image {
  width: 55px;
  margin-right: 15px;
}

.life-at-company-image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .job-item-details-life-style-container {
    display: flex;
  }
  .life-at-company-image {
    width: 350px;
    margin-left: 35px;
  }
}